Repository uliegecsm/kokkos-utils, pull requests merged in 2024-06, with the labels that each got.

#5 Use multiplatform approach to build for amd64 and arm64
  .github/workflows/build.yml
Labels: arm64

#8 cicd: add schedule to cope for updated base image
  .github/workflows/build.yml
Labels: cicd

#9 concepts(containers): add concept for `Kokkos::DualView`
  CMakeLists.txt
  include/kokkos-utils/concepts/DualView.hpp
  tests/concepts/CMakeLists.txt
  tests/concepts/test_DualView.cpp
Labels: concepts

#11 cicd(backend): add `Cuda`
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .github/workflows/build.yml
  CMakePresets.json
  cmake/presets/kokkos.json
  docker/dockerfile
  requirements/requirements.system.txt
  tests/atomics/test_InsertOp.cpp
  version.json
Labels: cicd, cuda

#10 concepts(core): ExecutionSpace, MemorySpace and Space concepts for C++20
  .devcontainer/devcontainer.json
  CMakeLists.txt
  include/kokkos-utils/concepts/ExecutionSpace.hpp
  include/kokkos-utils/concepts/MemorySpace.hpp
  include/kokkos-utils/concepts/Space.hpp
  tests/concepts/CMakeLists.txt
  tests/concepts/test_ExecutionSpace.cpp
  tests/concepts/test_MemorySpace.cpp
  tests/concepts/test_Space.cpp
Labels: concepts

#12 concepts(core): additional concepts for the `Kokkos::View`
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/atomics/InsertOp.hpp
  include/kokkos-utils/concepts/DualView.hpp
  include/kokkos-utils/concepts/ExecutionSpace.hpp
  include/kokkos-utils/concepts/MemorySpace.hpp
  include/kokkos-utils/concepts/Space.hpp
  include/kokkos-utils/concepts/View.hpp
  include/kokkos-utils/impl/type_traits.hpp
  tests/CMakeLists.txt
  tests/concepts/test_DualView.cpp
  tests/concepts/test_ExecutionSpace.cpp
  tests/concepts/test_MemorySpace.cpp
  tests/concepts/test_Space.cpp
  tests/concepts/test_View.cpp
  tests/impl/CMakeLists.txt
  tests/impl/test_type_traits.cpp
  tests/main.cpp
Labels: concepts
