Repository uliegecsm/kokkos-utils, pull requests merged in 2025-05, with the labels that each got.

#51 callbacks(listener): refactor concept to make it faster
  CMakeLists.txt
  include/kokkos-utils/callbacks/Listener.hpp
  include/kokkos-utils/impl/type_list.hpp
  tests/callbacks/test_RecorderListener.cpp
Labels: callbacks

#54 ci(cuda): update to `12.9.0`
  .github/workflows/build.yml
Labels: cuda

#61 callbacks(events): add comparison
  include/kokkos-utils/callbacks/Events.hpp
  tests/callbacks/test_Events.cpp
Labels: callbacks

#62 callbacks(matcher): match by exact event name
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EventNameMatcher.hpp
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#63 callbacks(events): refactor `EventOneOf` concept to allow type packs
  include/kokkos-utils/callbacks/Events.hpp
  include/kokkos-utils/callbacks/RecorderListener.hpp
  include/kokkos-utils/impl/type_list.hpp
  tests/impl/test_type_list.cpp
Labels: callbacks

#64 callbacks(events): allow restricting a matcher to a subset of types
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EventTypeMatcher.hpp
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#67 callbacks(events): refactor `Event[In]RegionMatcher` to allow matching opening/closing events instead of "within" events
  .gitignore
  CMakeLists.txt
  include/kokkos-utils/callbacks/EventRegionMatcher.hpp
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#69 ci(hip): run tests with our self-hosted runner
  .github/workflows/build.yml
  CMakePresets.json
Labels: hip

#68 timer(events): cuda/hip event must be wrapper in a `unique_ptr`
  include/kokkos-utils/timer/Cuda/Event.hpp
  include/kokkos-utils/timer/HIP/Event.hpp
  tests/timer/test_Event.cpp
Labels: cuda, hip

#75 callbacks(matchers): add event id matcher
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EventIdMatcher.hpp
  include/kokkos-utils/callbacks/Events.hpp
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#78 callbacks(matchers): remove `matcher` member from `EventQueueMatcher`
  include/kokkos-utils/callbacks/EventBeginEndIdMatcher.hpp
  include/kokkos-utils/callbacks/EventQueueMatcher.hpp
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#82 feat(callbacks): Add `EnqueuedEventTimer`
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EnqueuedEventTimer.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/test_EnqueuedEventTimer.cpp
Labels: callbacks

#83 feat(callbacks): Add `EnqueuedEventWithLaunchTimer`
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EnqueuedEventWithLaunchTimer.hpp
  tests/callbacks/test_EnqueuedEventTimer.cpp
Labels: callbacks

#43 feat(callbacks): add timer listener
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/BeginEndTimerListener.hpp
  include/kokkos-utils/callbacks/EventIdMatcher.hpp
  include/kokkos-utils/callbacks/RegionTimerListener.hpp
  include/kokkos-utils/callbacks/TimerListener.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/test_TimerListener.cpp
Labels: callbacks

#85 callbacks: `BeginEndTimerListener` uses paired begin/end event types
  include/kokkos-utils/callbacks/BeginEndTimerListener.hpp
Labels: callbacks

#81 feat(`timer listener`): add version with latency
  include/kokkos-utils/callbacks/BeginEndTimerListener.hpp
  tests/callbacks/test_TimerListener.cpp
Labels: callbacks, timer
