Repository uliegecsm/kokkos-utils, pull requests merged in 2025-03, with the labels that each got.

#27 update(deps): `cmake`, `googletest`, `kokkos`, ...
  .github/workflows/build.yml
  CMakePresets.json
  cmake/presets/kokkos.json
  docker/dockerfile
  tests/concepts/test_ExecutionSpace.cpp
  tests/concepts/test_MemorySpace.cpp
  tests/concepts/test_Space.cpp
  version.json
Labels: update

#31 cmake: check documentation list sizes
  cmake/functions/list.cmake
  docs/CMakeLists.txt
Labels: documentation

#26 feat(callbacks): Add events.
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/Events.hpp
  tests/CMakeLists.txt
  tests/callbacks/CMakeLists.txt
  tests/callbacks/test_Events.cpp
Labels: callbacks

#28 feat(callbacks): add manager
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/Events.hpp
  include/kokkos-utils/callbacks/Listener.hpp
  include/kokkos-utils/callbacks/Manager.hpp
  include/kokkos-utils/impl/type_list.hpp
  include/kokkos-utils/impl/type_traits.hpp
  tests/CMakeLists.txt
  tests/callbacks/CMakeLists.txt
  tests/callbacks/TestWorkload.hpp
  tests/callbacks/test_Events.cpp
  tests/callbacks/test_Manager.cpp
  tests/impl/test_type_list.cpp
Labels: callbacks

#29 feat(callbacks): add event matchers
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/EventInProfileSectionRegexMatcher.hpp
  include/kokkos-utils/callbacks/EventRegexMatcher.hpp
  include/kokkos-utils/callbacks/Matcher.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/test_Matchers.cpp
Labels: callbacks

#33 update(cuda): to 12.8.1
  .github/workflows/build.yml
Labels: cuda, update

#30 feat(callbacks): add recorder listener
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/RecorderListener.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/Helpers.hpp
  tests/callbacks/TestWorkload.hpp
  tests/callbacks/test_Helpers.cpp
  tests/callbacks/test_Manager.cpp
  tests/callbacks/test_RecorderListener.cpp
Labels: callbacks

#36 install: move callback helpers header from tests to include dir
  CMakeLists.txt
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/Helpers.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/test_Helpers.cpp
  tests/callbacks/test_Manager.cpp
  tests/callbacks/test_RecorderListener.cpp
Labels: callbacks

#37 callbacks: enable recorder with a single event type
  docs/CMakeLists.txt
  include/kokkos-utils/callbacks/Matcher.hpp
  include/kokkos-utils/callbacks/RecorderListener.hpp
  tests/callbacks/CMakeLists.txt
  tests/callbacks/Helpers.hpp
  tests/callbacks/test_Events.cpp
  tests/callbacks/test_Matchers.cpp
  tests/callbacks/test_RecorderListener.cpp
Labels: callbacks
